unclassified:
  globalLibraries:
    libraries:
      - name: "{{ jenkins_sharedlib_name }}"
        defaultVersion: "main"
        implicit: false
        allowVersionOverride: true
        retriever:
          modernSCM:
            scm:
              git:
                remote: "{{ jenkins_sharedlib_repo }}"
                credentialsId: "{{ jenkins_sharedlib_credentials_id }}"
