version: '3.8'

services:
  # 1. Prometheus
  prometheus:
    image: prom/prometheus:latest
    container_name: monitoring_prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.retention.time=15d'
    ports:
      - "9090:9090"
    restart: always

  # 2. Grafana
  grafana:
    image: grafana/grafana:latest
    container_name: monitoring_grafana
    volumes:
      - grafana_data:/var/lib/grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    restart: always

  # 3. Node Exporter (Giám sát Resource máy này)
  node-exporter:
    image: prom/node-exporter:latest
    container_name: monitoring_node_exporter
    ports:
      - "9100:9100"
    command: 
      - '--path.rootfs=/host'
    volumes:
      - /:/host:ro
    restart: always

  # 4. Postgres Exporter (Giám sát DB máy này)
  postgres-exporter:
    image: prometheuscommunity/postgres-exporter
    container_name: monitoring_postgres_exporter
    ports:
      - "9187:9187"
    environment:
      DATA_SOURCE_NAME: "postgresql://tester:123@172.16.4.15:6432/todo_app_development?sslmode=disable"
      PG_EXPORTER_AUTO_DISCOVER_DATABASES: "false" 
    restart: always

volumes:
  prometheus_data:
  grafana_data: