    - name: Check if Jenkins is exists
      ansible.builtin.shell: |
        jenkins --version
      register: jenkins_exist
      ignore_errors: true

    - name: Install Jenkins .deb
      ansible.builtin.get_url:
        url: "{{ jenkins_deb }}"
        dest: "/tmp/jenkins/"
        mode: "0644"
      when: jenkins_exist.rc != 0 or ('2.528' not in jenkins_exist.stdout) 

    - name: Install Jenkins if not installed
      ansible.builtin.apt:
        deb: "/tmp/jenkins/jenkins_2.528_all.deb"
      when: jenkins_exist.rc != 0 or ('2.528' not in jenkins_exist.stdout) 

    - name: Start jenkins
      ansible.builtin.systemd_service:
        name: jenkins
        enabled: true
        masked: false

    - name: Ensure JCasC and support dirs exist
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        owner: jenkins
        group: jenkins
        mode: "0755"
      loop:
        - "{{ jenkins_jcasc_dir }}"
        - "{{ jenkins_home }}/plugins"
        - "/etc/systemd/system/jenkins.service.d"