# Nếu chưa có venv thì tạo mới
if [ ! -d .venv ]; then
  echo "Tạo venv Python 3.13.9 bằng uv..."
  uv venv --python 3.13.9
fi

# Kích hoạt venv

export VIRTUAL_ENV="$PWD/.venv"
PATH_add "$VIRTUAL_ENV/bin"
